.popup {
   
}

.popup__line {
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: 5000ms linear timeline forwards;
}

@keyframes timeline {
    from {
        width: 75%;
    }

    to {
        width: 0%;
    }
}

.popup__times {
    font-size: 1rem;
    cursor: grab;
    border: none;
    background: none;
}